# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/
.ipynb_checkpoints/

# Optional: ignore RDM outputs if you don't want to commit them in the future
# rdm_utils_output/

